.home-banner{
  min-height: 80vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-banner h1{
  color: var(--color-quinary);
}


@media (min-width: 768px){
  .home-banner{
    min-height: 350px;
  }
}

@media (min-width: 1024px){
  .home-banner{
    min-height: 500px;
  }
}

@media (min-width: 1280px){
  .home-banner{
    min-height: 600px;
  }
}

@media (min-width: 1536px){
  .home-banner{
    min-height: 750px;
  }
}