.about{
  background-color: var(--color-secondary);
  color: var(--color-btn-text);
}

.about__image{
  margin-top: 2rem;
}

.about__image img{
  margin: 0 auto;
  box-shadow: -10px -10px 0px 0px #343c58;
  border: 2px solid #343c58;
}


@media (min-width: 768px){
  .about__content{
    width: 55%;
    padding-right: 3rem;
  }
  .about__image{
    width: 45%;
    margin-top: 0;
  }
}

@media (min-width: 1024px){
  .about__content{
    padding-right: 4rem;
  }
  .about__content p{
    width: 100%;
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1536px){
  .about__content{
    padding-right: 5rem;
  }
}