.jl-pricing__table{
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  font-weight: bold;
}

.jl-pricing__table td{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.jl-pricing__table tr td:last-child{
  text-align: right;
}

.jl-pricing__toggles{
  border-top: 2px solid #D9D9D9;
}
.jl-pricing__toggle{
  border-bottom: 2px solid #D9D9D9;
}

.jl-pricing__toggle ul{
  list-style: disc;
  padding-left: 1rem;
}

.jl-pricing__toggle--content ul ul,
.jl-pricing__toggle li + li{
  margin-top: 0.75rem;
}

.jl-pricing__toggle--icon{
  display: none;
}

@media (min-width: 768px) {
  .jl-pricing__table td{
    font-size: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .jl-pricing__remark{
    margin-top: 2rem;
  }
  

  /* toggle */
  .jl-pricing__toggle{
    position: relative;
  }

  .jl-pricing__toggle .container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }

  .jl-pricing__toggle--titile{
    width: 45%;
  }
  .jl-pricing__toggle--content{
    width: 55%;
    padding-right: 1rem;
  }
  
  .jl-pricing__toggle .jl-pricing__toggle--content{
    transition-property: max-height, opacity, visibility;
    transition-duration: 0.66667s, 0.33333s, 0.83333s;
    transition-timing-function: ease-in-out, linear, linear;
    transition-delay: 0s, 0.25s, 0s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition-duration: 1s, 0.5s, 1.25s;
  }

  
  .jl-pricing__toggle--icon{
    display: block;
    position: absolute;
    top: 0.35rem;
    right: -1.5rem;
    transition: all 0.1s linear;
  }

  .jl-pricing__toggle.section__padding{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .jl-pricing__toggle--titile h3{
    margin: 0;
  }

  /* on toggle */
  .jl-pricing__toggle[data-toggle="true"] .jl-pricing__toggle--content{
    transition-duration: 1s, 0.5s, 1.25s;
    max-height: 12000px !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .jl-pricing__toggle[data-toggle="true"] .jl-pricing__toggle--icon{
    transform: scaleY(-1);
  }
}

@media (min-width: 1280px) {
  .jl-pricing__table{
    max-width: 600px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .jl-pricing__table td{
    font-size: 24px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .jl-pricing__toggle--content{
    padding-right: 3rem;
  }
  .jl-pricing__toggle--icon{
    right: 0;
  }
}

@media (min-width: 1536px) {
  .jl-pricing__toggle.section__padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}