@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
  --font-family: 'Inter', sans-serif;
  --font-family-head: var(--font-family);
  --font-size--normal: 17px;
  --font-weight--bold: 700;

  --color-primary: #5E8DD4;
  --color-secondary: #1E1E1E;
  --color-tertiary:  #F6F2EA;
  --color-quaternary: var(--color-secondary); 
  --color-quinary: #fff; 
  
  --color-bg: var(--color-quinary);
  --color-text: #050505;
  --color-text-light: #fff;
  --color-subtext: var(--color-quaternary);
  --color-btn-text: #fff;
  --color-btn-bg: #393637;
}

html{
  font-size: 17px;
}


h1,h2,h3,h4,h5,.font-heading {
  font-family: var(--font-family-head);
  font-weight: 700;
  letter-spacing: 0.03rem;
}

b, strong{
  font-weight: 700;
}

h1,h2,h3,h4,h5,p{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p,a,button{
  font-size: 17px;
}


body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  font-weight: 300;
}

a{
  position: relative;
}

a::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 0;
  background-color: var(--color-quinary);
  transition: width 0.25s ease-in-out ;
}

a:hover::before,
a:active::before,
a:focus::before{
  width: 100%;
}


.btn{
  display: inline-block;
  border: 2px solid var(--color-quinary);
  border-radius: 0;
  background-color: var(--color-quinary);
  padding: 0.5rem 2rem;

  font-family: var(--font-family);
  color: var(--color-btn-text);
  transition: all 0.1s ease-in ;
}

.btn::before{
  display: none;
}

.btn:hover,
.btn:active,
.btn:focus{
  background-color: var(--color-subtext);
  border-color: var(--color-subtext);
}

.btn-trans{
  background-color: transparent;
  color: var(--color-btn-text);
}

.btn-trans:hover,
.btn-trans:active,
.btn-trans:focus{
  background-color: var(--color-quinary);
  border-color: var(--color-quinary);
  color: var(--color-primary);
}

.btn-primary{
  background-color: var(--color-btn-bg);
  border-color: var(--color-btn-bg);
  color: var(--color-btn-text);
}

.btn-nostyle{

}
.btn-nostyle::before{
  display: none;
}

.section__padding{
  padding: 2rem;
}

.section__padding-lx{
  padding: 4rem 2rem;
}


h1{
  font-size: 24px;
}
h2,.font-h2{
  font-size: 18px;
}
.font-h3-xl{
  font-size: 20px;
}


.list-circle{
  list-style: circle !important;
}

.bg-tertiary{
  background-color: var(--color-tertiary);
}

.pageabout__image--img{
  box-shadow: -10px -10px 0px 0px #1e1e1e;
  border: 2px solid #1e1e1e;
}

.pageabout__image{
  width: 100%;
  max-width: 300px;
  padding: 1rem;
}

/* Tablet */

@media (min-width: 768px){
  .section__padding{
    padding: 3rem;
  }

  h1{
    font-size: 34px;
  }
  h2,.font-h2{
    font-size: 28px;
  }
  .font-h3-xl{
    font-size: 30px;
  }  
}


@media (min-width: 1024px){
  .section__padding{
    padding: 4rem;
  }

  h1{
    font-size: 50px;
  }

  h2,.font-h2{
    font-size: 32px;
  }

  

  .pageabout__image{
    max-width: 330px;
    padding: 2rem 2rem 2rem 4rem;
  }
}


/* lx screen */

@media (min-width: 1280px){
  p,a,button{
    font-size: 20px;
  }

  h1{
    font-size: 70px;
  }

  h2,.font-h2{
    font-size: 40px;
  }
  .font-h3-xl{
    font-size: 42px;
  }
  

  :root{
    --font-size--normal: 20px;
  }

  .pageabout__image{
    max-width: 450px;
  }
}


/* 2lx screen */

@media (min-width: 1536px){
  .section__padding{
    padding: 5rem;
  }
}
