@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
  --font-family: 'Inter', sans-serif;
  --font-family-head: var(--font-family);

  --color-primary: #2929C1;
  --color-secondary-rgb: #1E1E1E;
  --color-tertiary:  var(--color-primary); 
  --color-quaternary: var(--color-secondary-rgb); 
  --color-quinary: #fff; 
  
  --color-bg: var(--color-quinary);
  --color-text: #050505;
  --color-text-light: #fff;
  --color-subtext: var(--color-quaternary);
  --color-btn-text: #fff;
  --color-btn-bg: #393637;
}

html{
  font-size: 17px;
}


h1,h2,h3,h4,h5,.font-heading {
  font-family: var(--font-family-head);
  font-weight: 700;
  letter-spacing: 0.03rem;
}


body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  font-weight: 300;
}

a{
  position: relative;
}

a::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 0;
  background-color: var(--color-quinary);
  transition: width 0.25s ease-in-out ;
}

a:hover::before,
a:active::before,
a:focus::before{
  width: 100%;
}


.btn{
  display: inline-block;
  border: 2px solid var(--color-quinary);
  border-radius: 0;
  background-color: var(--color-quinary);
  padding: 0.5rem 2rem;

  font-family: var(--font-family);
  color: var(--color-btn-text);
  transition: all 0.1s ease-in ;
}

.btn::before{
  display: none;
}

.btn:hover,
.btn:active,
.btn:focus{
  background-color: var(--color-subtext);
  border-color: var(--color-subtext);
}

.btn-trans{
  background-color: transparent;
  color: var(--color-btn-text);
}

.btn-trans:hover,
.btn-trans:active,
.btn-trans:focus{
  background-color: var(--color-quinary);
  border-color: var(--color-quinary);
  color: var(--color-primary);
}


.section__padding{
  padding: 2rem;
}

.section__padding-lx{
  padding: 4rem 2rem;
}


h1{
  font-size: 24px;
}
/* Tablet */

@media (min-width: 768px){
  .section__padding{
    padding: 3rem;
  }
}


@media (min-width: 1024px){
  .section__padding{
    padding: 4rem;
  }

  h1{
    font-size: 36px;
  }
}


/* lx screen */

@media (min-width: 1280px){
  h1{
    font-size: 48px;
  }
}


/* 2lx screen */

@media (min-width: 1536px){
  .section__padding{
    padding: 5rem;
  }
}
